extends base

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          //- Mixin for sidebar navigation item
          mixin navItem(link, text, icon, active)
            // FIX: Added space between 'li' and '(class'
            li(class={ 'side-nav--active': active })
              a(href=link)
                svg
                  use(xlink:href=`/img/icons.svg#icon-${icon}`)
                | #{text}

          +navItem('#', 'Settings', 'settings', true)
          +navItem('/my-tours', 'My Bookings', 'briefcase')
          +navItem('#', 'My Reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')

        //- Admin navigation only if user is an admin
        if user.role === 'admin'
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage Tours', 'map')
              +navItem('#', 'Manage Users', 'users')
              +navItem('#', 'Manage Reviews', 'star')
              +navItem('#', 'Manage Bookings', 'briefcase')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, required, name='email' )
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo}`, alt=`User photo`)
              input.form__upload(type='file', accept='image/*', id ='photo', name='photo')
              // MODIFIED: 'Choose new photo' text moved INTO the label
              label(for='photo') Choose new photo 
            .form__group.right
              button.btn.btn--small.btn--green Save settings

        .line
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password-new') New password
              input#password-new.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-new-confirm') Confirm new password
              input#password-new-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green Save password